<!--Featured Art and Archives-->


<div class="art circle large right"></div>
<div class="art circle large left"></div>
<div class="art circle x-small"></div>
<div class="art circle xx-small"></div>

<div class="art-background">

<section>

  <h2 class="art"><span class="emphasis">the</span> Art</h2>
  
    <div class="art content">

      <!--featured work -->  
        <div class="art featured container card">

          <article class="art featured content"> 

            <%= partial "shoshin-featured" %>       

          </article>

        </div>

        <!-- archives -->
      <div class="art archives container">

          <div class="art archives content">

             <%= partial "fear-archive" %>

          </div>  

      </div>

    </div>

</section>

</div>
