---
title: Screenshot Productions | Immersive Art
---

<body>
  
  <main class="outer-container" role="main">  

  <%= partial "header" %>
 
  <div class="parallax-container">

    <%= partial "hero" %>
  
    <div class="parallax"><img src="images/background1.jpg"></div>

  </div>

  <div class="section white">

    <%= partial "membership" %>

  </div>

  </main>  

</body>