@charset "utf-8";
@import "normalize";
$visual-grid: true;
$visual-grid-color: #DD9D9D;
$visual-grid-opacity: 0.4;
@import "vendor/bourbon/bourbon";
@import "vendor/neat/neat";


.outer-container {
  @include outer-container;
}



header {
  @include fill-parent;
}

.navigation {

  img.logo {
    @include span-columns(6);
  }

  nav {
    @include span-columns(6);
  }

    ul {

      li {

      }
    }
}