@charset "utf-8";
@import "normalize";
@import "typeography";
//$visual-grid: true;
//$visual-grid-color: #DD9D9D;
//$visual-grid-opacity: 0.4;
@import "vendor/bourbon/bourbon";
@import "vendor/neat/neat";
//@import "vendor/materialize/materialize";


// Base

  // Color

$link-text: #7B838D;
$link-text-hover: #3E7593 ;
$screenshot-black: #273035;
$screenshot-dark-grey: #3E474D;

$button-text: #CECECE;
$button-background: #3E7593;
$button-hover: #22465A;


  // Typeogrpahy

$font-stack:  "freight-text-pro", "adobe-garamond-pro", serif;
$font-stack-headers: "adobe-garamond-pro", "freight-text-pro", serif;


h1 {
  color: rgba(0,0,0,0.5);
  font-family: $font-stack-headers;
  font-size: 1.8em;
  font-weight: 400;
  margin: 0;
}

h2 {

  &.quote {
    font-family: $font-stack;
    color:#3E7593;
    font-style: italic;
    font-weight: 400;
    font-size: em(36);
    letter-spacing: -.28px;
  }

}

h3 {}

h4 {}

h5 {}

p {
  font-family: $font-stack;
  font-size: em(14);
  line-height: em(24);
  color: #273035;
}

.emphasis {
  text-transform: none;
  font-style: italic;
}


  // Base Styles


body {
  $large-screen: 50em !default;
  $medium-screen: 30em !default;
  background: #EEF1F4;
  color: rgba(39, 48, 53, 0.8);
  text-align: left;
  font-family: $font-stack;
  font-weight: 400;
  font-size: em(16);
}

a {
  text-decoration: none;
  color: $link-text;
    
    &:hover {
      color: $link-text-hover;
      outline: 0;
      transition: all 0.2s ease-in;
    }

    &:active{
      outline: 0;
    }
}

.logo img {
  height: 18.75em;
  margin-top: 6em;
}

.button {
  border-radius: em(2);
  border:none;
  min-height: em(60);
  min-width: em(80);
  background-color: $button-background;
  color: $button-text;
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;  
  transition: all .3s ease-out;
  text-align: center;
  letter-spacing: .5px;
  line-height: 36px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 3px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 0 2em;
  text-transform: uppercase;

  &:hover {
    background-color:$button-hover;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    outline: 0;
  }

  &:active, &:focus {
    outline: 0;
  }
}

.circle {

  &.small {
    width: em(140);
    height: em(140);
    border-radius: em(70);
    border: em(1) solid #979797;

  }

  &.medium {
    width: em(216);
    height: em(216);
    border-radius: em(108);
    border: em(1) solid #979797;

  }

  &.large {
    width: em(368);
    height: em(368);
    border-radius: em(184);
    border: em(1) solid #979797;

  }

}

.doc {
  margin: 3em 0;
  font-family:$font-stack;
  font-size: 1.1em;
  font-weight: 300;

  a {
    border: 1px solid white;
    border-radius: 3px;
    padding: 0.75em 0.7em;
    color: white;
    text-decoration: none;
    transition: color 0.1s linear;

    &:hover {
      background: rgba(0,0,0,0.2);
      color: white;
      transition: all 0.15s linear;
    }
  }
}

section {
  @include outer-container;
}

.container{
  @include outer-container(100%);
  @include omega;

}



// Navigation


.navigation {
  $large-screen: 50em !default;
  $medium-screen: 30em !default;

  // Mobile view
  .navigation-menu-button {
    display: block;
    float: right;
    margin: 0;
    padding-top: 0.5em;

    @include media ($medium-screen) {
      display: none;
    }
  }

  // Nav menu
  .navigation-wrapper {
    @include clearfix;
    position: relative;
    @include span-columns(12);
  }

  .logo {
    float: left;
    @include span-columns(6 of 12);

    @include media ($medium-screen) {
      float: none;
      text-align: center;
      display: block;
    }

    @include media ($large-screen) {
      float: left;
    }

    img {
      @include media ($medium-screen) {
        max-height: 80px;
        padding-right: 16em;
        margin-top: -.8em;
        margin-left: -13.5em;
      }

      @include media ($large-screen) {
        max-height: 120px;
        padding-right: 13em;
        margin-top: -.8em;
        margin-left: -13.5em;
      }
    }
  }  

  nav {
    float: none;
    @include span-columns(6 of 12);

    @include media ($medium-screen) {
      float: left;
      text-align: center;
      line-height: 1.5em;
      padding-top: 3.6em;
    }
  }

  ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;

    @include media ($medium-screen) {
      display: block;
      margin: 0;
      padding: 0;
    }

    &.show {
      display: block;
    }
  }

  // Nav items
  ul li.nav-link {
    display: block;
    text-align: right;
    width: 100%;
    color: #7B838D;
    text-transform: uppercase;
    font-family: $font-stack-headers;

    &.nav-button {
      text-transform: capitalize;
      color: #273035;
      border: solid 1px #273035;
      border-radius: 3px;
      padding: 0.35em 0 0.35em 1em;

      &:hover {
        background-color: rgba(62, 117, 142, 0.1);
        transition: all 0.2s ease-in;
        }

      a {
        color: $screenshot-black;
      }
    }

    @include media ($medium-screen) {
      background: transparent;
      display: inline;
      text-decoration: none;
      width: auto;
    }
  }

  li.nav-link a {
    display: inline-block;

    @include media ($large-screen) {
      padding-right: 1em;
    }
  }
}

// Hero

.hero {
  $large-screen: 50em !default;
  
  &.container {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 81%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 81%, 0% 100%);
    align-items: center;
    background: no-repeat center center fixed image_url("/images/ocean-bg.jpg");
    background-position: right;
    background-size: cover;
    min-height: em(145);
    margin-top: -8em;
  }      

  @include media($large-screen) {
    background-size: cover;
    background-position: left;
  }

  .hero-logo {
    margin: auto;
  }
  
  &.content {
    @include span-columns(8);

    @include media($large-screen) {
      text-align: left;
      padding-top: 8em;
      padding-left: 4.5em;
    }

    p {
      padding-left: 1em;
      @include span-columns(6.5 of 8);
    }
  }

  .button {
    margin: 5em 1em;
  }

  .circle {
    margin: -10.5em 0 0 0;

    &.small {
      margin-left: -1em;
    }

    &.medium{
      margin-left: 2em;
    }

  }

}




// Modal

.modal {
  $base-border-color: #dcdcdc !default;
  $base-border-radius: 3px !default;
  $base-background-color: #fff !default;
  $base-font-size: 1em !default;
  $base-line-height: 1.5em !default;
  $action-color: #477dca !default;
  $dark-gray: #333 !default;
  $light-gray: #ddd !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  $modal-padding: 3em;
  $modal-background: $base-background-color;
  $modal-close-color: $light-gray;
  $modal-image-height: 135px;
  $modal-image-width: $modal-image-height;
  $modal-trigger-image-width: 300px;

  label {
    cursor: pointer;
    margin-bottom: 0;
  }

  label img {
    border-radius: $modal-trigger-image-width / 2;
    display: block;
    max-width: $modal-trigger-image-width;
  }

  .modal-state {
    display: none;
  }

  .modal-trigger {
    padding: 0.8em 1em;
  }

  .modal-fade-screen { // overlay
    @include transition(opacity 0.25s ease);
    @include position(fixed, 0);
    background-color: rgba(#000, 0.85);
    opacity: 0;
    padding-top: 0.6em;
    text-align: left;
    visibility: hidden;
    z-index: 99999999999;

    @include media($large-screen) {
      padding-top: 10em;
    }

    .modal-bg {
      @include position(absolute, 0);
      cursor: pointer;
    }
  }

  .modal-close {
    @include position(absolute, ($modal-padding /2) ($modal-padding /2) null null);
    @include size(1.5em);
    background: $modal-background;
    cursor: pointer;

    &:after,
    &:before {
      @include position(absolute, 3px 3px 0 50%);
      @include transform(rotate(45deg));
      @include size(0.15em 1.5em);
      background: $modal-close-color;
      content: '';
      display: block;
      margin: -3px 0 0 -1px;
    }

    &:hover:after,
    &:hover:before {
      background: darken($modal-close-color, 10%);
    }

    &:before {
      @include transform(rotate(-45deg));
    }
  }

  .modal-inner {
    @include transition(opacity 0.25s ease);
    background: $modal-background;
    border-radius: $base-border-radius;
    margin-top: 0;
    margin: auto;
    max-height: 95%;
    overflow: auto;
    padding: $modal-padding / 2;
    position: relative;
    width: 95%;

    @include media($medium-screen) {
      max-height: 70%;
      padding: $modal-padding;
      width: 60%;
    }

    @include media($large-screen) {
      width: 50%;
    }

    .modal-intro {
      margin-bottom: 1em;
    }

    .modal-content {
      color: $base-font-color;

      @include media($medium-screen) {
        @include columns(2 8em);
      }
    }

    a.cta {
      color: $base-background-color;
      display: inline-block;
      margin-right: 0.5em;
      margin-top: 1em;

      &:last-child {
        padding: 0 2em;
      }
    }
  }

  .modal-state:checked + .modal-fade-screen {
    opacity: 1;
    visibility: visible;
  }

  .modal-state:checked + .modal-fade-screen .modal-inner {
    top: 0.5em;
  }
}

.modal-open {
  overflow: hidden;
}


// Art

.art {
  //-webkit-clip-path: polygon(0 0, 0% 100%, 100% 81%, 0% 100%);
  //clip-path: polygon(0 0, 100% 0%, 100% 81%, 0% 100%);
  align-items: center;
  background: no-repeat center center image_url("/images/bridge.jpg");
  background-position: right;
  overflow: visible;

  }



// Animations

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  animation-duration: .75s;
}

  //Thoughtbot welcome

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s;
}

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}

  // Fade In

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}



  // Fade In Down

.fadeInDown {
  animation-name: fadeInDown;
  animation-duration: 2s;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}


  // Fade In Up

.fadeInUp {
  animation-name: fadeInUp;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}





