@charset "utf-8";
@import "normalize";
@import "typeography";
$visual-grid: true;
$visual-grid-color: #DD9D9D;
$visual-grid-opacity: 0.4;
@import "vendor/bourbon/bourbon";
@import "vendor/neat/neat";

body {
  background: #EEF1F4;
  color: rgba(39, 48, 53, 0.8);
  text-align: left;
  font-family: "freight-text-pro", "adobe-garamond-pro", serif;
  font-weight: 400;
  font-size: 0.875em;
}

a {
  text-decoration: none;
  color: #7B838D;
    
    &:hover {
      color:#3E7593;
    }
}

.logo img {
  height: 18.75em;
  margin-top: 6em;
}

h1 {
  color: rgba(0,0,0,0.5);
  font-family: "adobe-garamond-pro", "freight-text-pro", serif;
  font-size: 1.8em;
  font-weight: 400;
  margin: 0;
}

h2 {}

h3 {}

h4 {}

h5 {}

p {}




.doc {
  margin: 3em 0;
  font-family:"freight-text-pro", "adobe-garamond-pro", serif;
  font-size: 1.1em;
  font-weight: 300;

  a {
    border: 1px solid white;
    border-radius: 3px;
    padding: 0.75em 0.7em;
    color: white;
    text-decoration: none;
    transition: color 0.1s linear;
    &:hover {
      background: rgba(0,0,0,0.2);
      color: white;
      transition: all 0.15s linear;
    }
  }
}


section {
  @include outer-container;
}

.container{
  @include outer-container(100%);
  @include omega;

}



// Navigation

.navigation {
  $large-screen: 50em !default;
  $medium-screen: 30em !default;

  // Mobile view
  .navigation-menu-button {
    display: block;
    float: right;
    margin: 0;
    padding-top: 0.5em;

    @include media ($medium-screen) {
      display: none;
    }
  }

  // Nav menu
  .navigation-wrapper {
    @include clearfix;
    position: relative;
  }

  .logo {
    float: left;

    @include media ($medium-screen) {
      float: none;
      text-align: center;
      display: block;
    }

    @include media ($large-screen) {
      float: left;
    }

    img {
      @include media ($medium-screen) {
        max-height: 80px;
        padding-right: 16em;
        margin-top: -.8em;
        margin-left: -13.5em;
      }

      @include media ($large-screen) {
        max-height: 120px;
        padding-right: 16em;
        margin-top: -.8em;
        margin-left: -13.5em;
      }
    }
  }  

  nav {
    float: none;

    @include media ($medium-screen) {
      float: left;
      text-align: center;
      line-height: 1.5em;
      padding-top: 4.2em;
    }
  }

  ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;

    @include media ($medium-screen) {
      display: block;
      margin: 0;
      padding: 0;
    }

    &.show {
      display: block;
    }
  }

  // Nav items
  ul li.nav-link {
    display: block;
    text-align: right;
    width: 100%;
    color: #7B838D;
    text-transform: uppercase;
    font-family: "adobe-garamond-pro", "freight-text-pro", serif;

    @include media ($medium-screen) {
      background: transparent;
      display: inline;
      text-decoration: none;
      width: auto;
    }
  }

  li.nav-link a {
    display: inline-block;

    @include media ($large-screen) {
      padding-right: 1em;
    }
  }
}



// Thoughtbot

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s;
}

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}
