
<!-- Fear is What We Learned Here archive -->
<div class="modal">

	<label for="model-1">

	  <div class="modal-trigger">
	  	<h3>Fear is What We Learned Here</h3>
	  	<p>Fall 2015</p>

	  </div>

	</label>

	<input class="modal-state" id="modal-1" type="checkbox" />

	<div class="modal-fade-screen">

	  <div class="modal-inner">

	    <div class="modal-close" for="modal-1"></div>

	      <h1>Fear Is What We Learned Here</h1>
	      <p class="modal-intro">Die to your fears</p>

	      <p class="modal-content">An immersive dream through the deepest fears of the human psyche utilizing bluetooth technology, video installation, and living mixing to fully immerse the audience member in their surroundings. </p>

	      <p>Inspired in part by Mark Danielewski’s House of Leaves, Alejandro Jodorowsky’s Holy Mountain, and From Software’s Dark Souls.</p>

	    </div>

	</div>

</div>  

  
