<!--Art-->

      <h2><span class="emphasis">the</span> Art</h2>

        <!--featured show -->

      <div class="hero art">
        <div class="hero-content art">
            <h3>Shoshin</h2>
            <h3 class="quote">“In the beginner’s mind there are many possibilities, in the expert’s mind there are few </h3>
              <p>An outdoor real-world exploration of the self, utilizing Bluetooth technology and sensory experience to provoke enlightenment.
              </p> 
              <p>
              Inspired by Shunryu Suzuki’s Zen Mind, Beginner’s Mind and Joanna Newsom’s Divers
              </p>

            <h4>Reviews</h4>
              <ul>
                <li><a href="">The Examiner</a></li>
                <li><a href="">Blumhouse</a></li>
                <li><a href="">HorrorBuzz</a></li>
                <li><a href="">Theme Park Adventure</a></li>
              </ul>
            <button class="button-icon">Purchase Tickets</button>

        </div>
      </div>

        <!-- archives -->