<!--Featured Art and Archives-->

<section>

<div class="art container">

  <h2><span class="emphasis">the</span> Art</h2>
  
    <div class="art content">

      <!--featured work -->  
        <div class="art featured container">

         <div class="art featured content">        
          <h3>Shoshin</h3>
          <h3 class="quote">“In the beginner’s mind there are many possibilities, in the expert’s mind there are few </h3>
          <p>An outdoor real-world exploration of the self, utilizing Bluetooth technology and sensory experience to provoke enlightenment.</p> 
          <p>Inspired by Shunryu Suzuki’s Zen Mind, Beginner’s Mind and Joanna Newsom’s Divers</p>

          <h4>Reviews</h4>
            <ul>
              <li><a href="">The Examiner</a></li>
              <li><a href="">Blumhouse</a></li>
              <li><a href="">HorrorBuzz</a></li>
              <li><a href="">Theme Park Adventure</a></li>
            </ul>

          <button class="button-icon">Purchase Tickets</button>

          </div>

        </div>

      <!-- archives -->
        <div class="art archives container">

          <div class="art archives content modal">

            <%= partial "art-profile-fear" %>

          </div>  

      </div>

    </div>

</div>

</section>


<div class="modal">
  <label for="modal-1">
    <div class="modal-trigger">Click for Modal</div>
  </label>
  <input class="modal-state" id="modal-1" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-close" for="modal-1"></div>
      <h1>Modal Title</h1>
      <p class="modal-intro">Intro text lorem ipsum dolor sit ametm, quas, eaque facilis aliquid cupiditate tempora cumque ipsum accusantium illo modi commodi  minima.</p>
      <p class="modal-content">Body text lorem ipsum dolor ipsum dolor sit sit possimus amet, consectetur adipisicing elit. Itaque, placeat, explicabo, veniam quos aperiam molestias eriam molestias molestiae suscipit ipsum enim quasi sit possimus quod atque nobis voluptas earum odit accusamus quibusdam. Body text lorem ipsum dolor ipsum dolor sit sit possimus amet.</p>
    </div>
  </div>
</div>


