<!--footer-->

<div class="footer container">

  <div class="footer content">

    <footer>

      <h4>Screenshot Productions Copyright 2016</h4>
      <p>An immersive art collective based out of Los Angeles, California.</p>
 
      <ul>
        <li>Press</li>
        <li>Contact</li>
      </ul>

    </footer>

  </div>

</div>