
<!--Hero-->

<div class="hero container">

<section>

  <div class="hero content animated fadeIn">

    <h2 class="quote">to unpathed waters, undreamed shores</h2>

    <p>Screenshot Productions is a collecive of interdisciplinary artists dedicated to creating immersive experiences that tap into universal human emotions. We explore the spaces between art, technology, innerconnectivity and the self, seeking to create art with a genuine emotional impact. Our experiences are meaningful immersions created to inspire individual growth and creativity.</p>

    <p>We believe in the importance of art to the human experience, and in the importance of supporting an artist’s work.</p>

    <button class="button icon">Enter <span class="emphasis">the</span> Inner Circle</button>
    <div class="circle small animated fadeInDown"></div>
    <div class="circle medium animated fadeInDown"></div>

  </div>

</section>

</div>

