<!--membership-->

<h4>Screenshot Productions membership includes the following:</h4>

Exclusive access to all chapters of the ongoing, immersive life experience mentioned in your email.
Admission to every Screenshot production throughout the year (at least 1 production per quarter)
First choice of timeslot for all productions.
After-hours “lights-on” tour of each production (excluding the chapters)
Separate, fully-produced show created specifically for you only (1 per year).

Other Notes:
The membership is billed on a quarterly cycle, meaning each membership is active for 3 months from the date of purchase.
The membership activates from the purchase date. You do not have to wait until the 1st of the month (or any specific date) to begin.
You may cancel the subscription at any time, however, once a cycle has been purchased, there are no refunds or cancellations.
If you wish to suspend your membership and come back after any period of time, the chapter-based experience will simply resume where you left off. (you will not miss any of the experience if you cannot continue your membership in consecutive quarters).
We will contact you regarding the personal show after a full year of membership (again, does not need to be consecutive).
This is a truly on-going experience, meaning that if you had someone else in mind that would like to sign-up for a membership, chapter 1 would begin at the time of their sign-up regardless of when they do enroll.

If you have any other questions about the membership, please contact us at members@whatwelearnedhere.com
Contact: 
info@screenshot.productions
members@whatwelearnedhere.com
