<!--Navigation-->

<section>

<header class="navigation animated fadeIn" role="banner">

  <div class="navigation-wrapper">
    
  <a href="http://screenshot.productions" class="logo">
    <%= image_tag 'screenshot-logo.png' %>
  </a>

  <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
   
   <nav role="navigation"> 

    <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="javascript:void(0)">Art</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Who We Are</a></li>
        <li class="nav-link nav-button"><a href="javascript:void(0)">Membership</a></li>
    </ul>

   </nav>    

  </div>

</header>

</section>