---
title: Screenshot Productions | Immersive Art
---

<body>

  <header>

    <ul id="dropdown-about" class="dropdown-content">
      <li><a href="#!">Screenshot Productions</a></li>
      <li><a href="#!">Artists</a></li>
    </ul>

    <ul id="dropdown-work" class="dropdown-content">
      <p>Current</p>
      <li><a href="#!">Shoshin</a></li>
      <li><a href="#!">The Trial</a></li>
      <li class="divider"></li>
      <p>Past Work</p>
      <li><a href="#!">Parturition</a></li>
      <li><a href="#!">Fear Is What We Learned Here</a></li>
    </ul>

    <nav>

      <div class="row">     

        <div class="col s10">

          <div class="left">

            <ul>
              <li class="nav-link"><a class="dropdown-button" href="#" data-activates="dropdown-about">About<i class="material-icons right">arrow_drop_down</i></a></li>  
              <li class="nav-link"><a class="dropdown-button" href="#" data-activates="dropdown-work">Work<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>

          </div>

        </div>

        <div class="col s2">

          <div class="right">

            <ul>
            <li class="nav-link nav-button"><a href="membership.html">Membership</a></li>
            </ul>

          </div>

        </div>    

      </div>

    </nav>

  </header>

<!-- Hero -->
  <div class="hero parallax-container">

    <div class="hero-content row container">

    <div class="center col s12"><img class="responsive-img logo-img" src="images/logo01.svg"><h1 class="logo">Screenshot</h1>
         <h1 class="logo"><span class="emphasis">Productions</span></h1>

        </div>

        <div class="hero content section col s12 m8 l6 push-m2 push-l3">

          <h2 class="quote animated fadeInDown">to unpathed waters, undreamed shores</h2>

          <p>We are a collecive of interdisciplinary artists dedicated to creating immersive experiences that tap into universal human emotions. We explore the spaces between art, technology, innerconnectivity and the self, seeking to create art with a genuine emotional impact. Our experiences are meaningful immersions created to inspire individual growth and creativity.</p>

          <p>We believe in the importance of art to the human experience, and in the importance of supporting an artist’s work.</p>

          <button class="button icon animated fadeIn">Enter <span class="emphasis">the</span> Inner Circle</button>
          <div class="circle small animated fadeInUp"></div>
          <div class="circle medium animated fadeInDown"></div>

        </div>

    </div>

    <div class="parallax"><img src="images/background5.jpg"></div>

  </div>

<!-- Membership -->
  <div class="membership section">

    <div class="membership-content row container">
    </div>  

  </div>

<!-- Shoshin -->
  <div class="art parallax-container">

    <div class="art-content row container">

      <div class="card col s12 m6 push-m6">

      <h3>Shoshin</h3>
      <h3 class="quote">“In the beginner’s mind there are many possibilities, in the expert’s mind there are few "</h3>

      <p>An outdoor real-world exploration of the self, utilizing Bluetooth technology and sensory experience to provoke enlightenment.</p> 

      <p>Inspired by Shunryu Suzuki’s Zen Mind, Beginner’s Mind and Joanna Newsom’s Divers</p>

      </div>

    </div>  

    <div class="parallax"><img src="images/background15.jpg"></div>

  </div>

<!-- About -->
  <div class="about section">

    <div class="about-content row container">

    <div class="about-content col s12">

    <h2><span class="emphasis">about</span> Screenshot</h2>
    <p>Screenshot Productions is a newly formed, immersive installation collective with a long-term vision to establish a year-round immersive experience culture here in Los Angeles. The company has been inspired by the collaborative, immersive scene in New York and hopes to bring something similar to the west coast. However, they don't simply wish to replicate existing models for what constitutes an immersive production, but instead forge ahead with their own take on where they think the industry can go. The vision is to continually push what an immersive experience can be and what audience members can get out of it, always with an agenda for the productions staged. The hope is that each art installation created by Screenshot taps into universal human emotions in some meaningful way and that the art has a genuine emotional impact on those who attend.</p>

    <div class="profile founder">
      <h3 class="profile">Nicholas Sherwin, Jr.</h3>
      <img class="profile" src="">
      <p>Screenshot Productions was founded by Nicholas David Sherwin Jr. Nicholas was the creative director and co-creator for the company's first installation entitled 'Fear is What We Learned Here’ and the creative director and sole creator of 'Parturition' He also works as the Executive V.P. for No Pressure Productions, a concert promotion agency and recording studio out of La Mirada, CA. In addition, Nicholas is a project manager for Vortex Productions LLC., handling the west coast operations where he stage manages the show, the cast, and the inventory for "Blackout" an extreme immersive theatrical event in it's seventh year of production (fourth in LA). Nicholas graduated with his MBA in Leadership and Managing Organizational Change from Pepperdine University and for his undergrad attended Biola University, graduating with a B.S. in Management Sciences.</p>
    </div>

    <div class="profile artist">
    <h3 class="profile">Meghan Farrington</h3>
      <img class="profile" src="">
      <p>Meghan Farrington is an artist and writer with a love for the intersection of art and tech. She works as a user interface designer devloper in Southern California and graduated with her BA in English Literature and Art from Chapman University. </p>
    </div>
    
  </div>

    </div>

  </div>

<!-- Parturition -->
  <div class="art parallax-container">

    <div class="art-content row container">

    </div>

    <div class="parallax"><img src="images/background16.jpg"></div>

  </div>

<!-- Artists -->
  <div class="artists section">

    <div class="artists-content row container">

    </div>

  </div> 

  
<!-- Footer -->
  <footer class="page-footer">
    
    <div class="container">

      <div class="row">

        <div class="col l4 s12"></div>
        <div class="col l4 s12"></div>
        <div class="col l4 s12"></div>
        
      </div>

    </div>

    <div class="footer-copyright">

      <div class="container">

      © 2016 Screenshot Productions, All rights reserved.

      </div>

    </div>

  </footer>

 </body> 