---
title: Screenshot Productions | Immersive Art
---

<body>

  <header>

    <!--<ul id="dropdown-about" class="dropdown-content">
      <li><a href="#!">Screenshot Productions</a></li>
      <li><a href="#!">Artists</a></li>
    </ul>-->

    <ul id="dropdown-work" class="dropdown-content">
      <p>Current</p>
      <li><a href="#therope">The Rope</a></li>
      <!--<li><a href="#dasgericht">Das Gericht</a></li>-->
      <!-- <li class="divider"></li>
      <p>Past Work</p>
      <li><a href="#bardothodol">Bardo Thodol</a></li>
      <li><a href="/past-work#shoshin">Shoshin</a></li>
      <li><a href="/past-work#parturition">Parturition</a></li>
      <li><a href="/past-work#fear">Fear Is What We Learned Here</a></li>-->
    </ul>

    <nav>

      <div class="row">     

        <div class="col s10">

          <div class="left">

            <ul>
              <li class="nav-link"><a href="#about">About</a></li> 
              <li class="nav-link"><a href="http://screenshotproductions-tickets.com/">Tickets</a></li> 
              <li class="nav-link"><a class="dropdown-button" href="#" data-activates="dropdown-work">Work<i class="material-icons right">arrow_drop_down</i></a></li>
              
            </ul>

          </div>

        </div>

        <div class="col s2">

          <div class="right">

            <ul>
            <li class="nav-link nav-button"><a href="/membership">Membership</a></li>
            </ul>

          </div>

        </div>    

      </div>

    </nav>

  </header>

<!-- Hero -->
  <div id="#therope" class="hero art therope parallax-container">

    <div class="hero-content row container">

    <div class="center col s12 animated fadeIn"><img class="responsive-img logo-img" src="/images/logo01.svg"><h1 class="logo">Screenshot</h1>
         <h1 class="logo"><span class="emphasis">Productions</span></h1>

        </div>

        <div class=" art hero content section col s12 m10 push-m1 animated fadeIn">

          <h2 class="therope-title">The Rope</h2>

          <p class="">Gather around a crackling bonfire in the cavern of Medullarum, opening a portal into the dark world of Conscientia. Travel this world as the unnamed hero amid a network of illusion and ethos.</p>

          <p class="">The Rope utilizes intimate performance, illusory installation and the cultural mirrors of fantasy and sci-fi to traverse a synesthetic narrative of agency and empathy. Opening Fall 2016 in downtown Los Angeles.</p>

        </div>
        
        <div class="hero content section center col s12 m6 push-m3">  

        


          <a class="button icon animated fadeIn cen" href="http://screenshotproductions-tickets.com/">Tickets<span class="emphasis"> now </span>Available</a>
          <div class="circle small animated fadeInUp"></div>
          <div class="circle medium animated fadeInDown"></div>

        </div>

    </div>

    <div class="parallax"><img src="/images/rope.jpg"></div>

  </div>

<!-- About -->
  <div id="about" class="about section">

    <div class="about-content row container">

    <div class="about-content col s12">

    <h2 class="center"><span class="emphasis">about</span> Screenshot</h2>

    <h3>We are a newly formed collective of interdisciplinary artists with a long-term vision to establish a sustainable immersive culture in Los Angeles and San Francisco.</h3> 

    <p>Our mission in all the work we create, regardless of form or medium, is to place the individual within universal human experiences that speak to larger cultural or social issues, and thereby ask the individual to consider their responsibility and place within a larger whole. Our works often challenge the individual to find empathy and connection to others' conditions through their own inner reflection. We explore the spaces between art, technology, interconnectivity and the self, creating journeys with a genuine emotional impact.</p>

    </div>

    </div>

  </div>

<!-- Bardo Thodal -->
  <div class="art therope quote-parallax parallax-container">

    <div class="art-content quote-parallax row container">

      <div class="col s12 m10 push-m1 center">

      <h3 class="quote">to unpathed waters, undreamed shores</h3>

      </div>

      <!--p class="">We believe in the importance of art to the human experience, and in the importance of supporting an artist’s work.</p>!-->

    </div>  

    <div class="parallax"><img src="/images/bardo.jpg"></div>

  </div>

<!-- Artists -->
  <div id="artists" class="artists section">

    <div class="artists-content row container">

    <div class="col s12"><h2 class="center"><span class="emphasis">current</span> Artists</h2></div>

    <div class="profile artist col s12 m6">
      <h3 class="profile center">Nicholas Sherwin, Jr.</h3>
      <!--<p class="label">Founder</p>-->
      <img class="profile responsive-img" src="">
      <p>Screenshot Productions was founded by Nicholas David Sherwin Jr. He is involved in creative direction, writing and videography for all Screenshot installations. His desire is to instill a sense of personal responsibility and stewardship in relation to larger cultural and societal issues faced in our world today. Nicholas graduated with his MBA in Leadership and Managing Organizational Change from Pepperdine University and earned his B.S. in Management Sciences from Biola University.</p>
    </div>

    <div class="profile artist col s12 m6">
    <h3 class="profile center">Meghan McHale-Sherwin</h3>
    <!--<p class="label">Artist</p>-->
      <img class="profile responsive-img" src="">
      <p>Meghan is a writer, performance and media artist, whose work explores the nature of narrative at the intersection between art and technology. She is involved in the writing, art direction and technical design for all Screenshot installations. Currently, she works as a user interface designer and developer at Twitch in San Francisco. Meghan graduated with a B.A. in English Literature and a B.A. in Art from Chapman University.</p>
    </div>
  </div>
  <div class="artists-content row container">
    <div class="profile artist col s12 m6">
    <h3 class="profile center">Charles Jones</h3>
    <!--<p class="label">Artist</p>-->
      <img class="profile responsive-img" src="">
      <p>Charles has been playing piano ever since the age of 2. In the year 2007, Charles earned a Bachelor of Music from the University of Southern California with an emphasis in Music Industry. Since then, Charles has been composing and performing all over the world with different artists such as Andra Day, Jennifer Hudson, Joss Stone, Elton John, and Jonny Lang. He has also worked in the studio with John Mayer, Kelis, Lionel Richie, Musiq Soul Child, Stevie Wonder, Destiny's Child, as well as performed at The White House during President Obama's 2012 inaugural ball. Charles wrote the original music for <span class="emphasis">Parturition</span>, wrote and performed <span class="emphasis">The Unveiling</span> for <span class="emphasis">Shoshin</span> and is currently music directing for multi-grammy nominated artist Andra Day.</p>
    </div>

    <div class="profile artist col s12 m6">
    <h3 class="profile center">Bryan Noonan</h3>
    <!--<p class="label">Artist</p>-->
      <img class="profile responsive-img" src="">
      <p>Bryan is a musician and audio engineer from the Los Angeles area. He has been involved with the productions <span class="emphasis">Fear Is What We Learned Here</span>, <span class="emphasis">Parturition</span> and <span class="emphasis">Shoshin</span>, in both pre-production and performance. His interest in immersive theatre lies in the medium's unique ability to effectively communicate the esoteric to its attendees; hidden concepts that are otherwise inexplicable. Bryan earned his degree in Audio and Entertainment Technology from Golden West College and is currently working towards his B.A. in Philosophy.</p>
    </div>

    </div>

  </div>

  <!-- Das Gericht
  <div id="dasgericht" class="art parallax-container">

    <div class="art-content dasgericht row container">

    <div class="col s12 m6 left">

      <h2>Das Gericht</h2>

      <h3 class="quote">“It is not necessary to accept everything as true, one must only accept it as necessary"</h3>

      </div>
    </div>  

    <div class="dasgericht row container">

      <div class="art card col s12 m6 left">

      <p> An ongoing, multi-year interpersonal performance and installation art project utilizing technology and live interactions to explore the implications of personal freedoms in a culture of big data collection.</p>

      <h6> Das Gericht is only accessible to <a href="/membership">members of our inner circle</a>.</h6>

    </div>

    <div class="parallax"><img src="/images/background17.jpg"></div>

  </div>!-->

  </div>


  
<!-- Footer -->
  <footer class="page-footer">
    
    <div class="container">

      <div class="row">

        <div class="col l6 s12">
          <h5 class="white-text title">Screenshot Productions</h5>
          <!--<h3 class="grey-text text-lighten-4 quote">To unpathed waters, undreamed shores.</h3>
          <p class="grey-text text-lighten-4">Immersive experiences exploring the spaces between art, technology, innerconnectivity and the self, seeking to create art with a genuine emotional impact.</p>-->
          <!-- Begin MailChimp Signup Form -->
          <div id="mc_embed_signup" >
            <form action="//productions.us13.list-manage.com/subscribe/post?u=2215e180209d7b82438679117&amp;id=352f88678f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

              <div id="mc_embed_signup_scroll">

                <h3 class="grey-text text-lighten-4 quote">For knowledge of upcoming performances...</h3>

                <div class="mc-field-group input-field col s12 m6">

                  <input class="validate" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" style="color: #ffffff;">
                  <label for="mce-EMAIL">Email</label>              

                </div>

                <div id="mce-responses" class="clear">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
                </div>    
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_2215e180209d7b82438679117_352f88678f" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
              </div>
            </form>
          </div>


<!--End mc_embed_signup-->

        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">About Screenshot</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="/#artists">Artists</a></li>
            <li><a class="grey-text text-lighten-3" href="http://screenshotproductions-tickets.com">Tickets</a></li>
            <li><a class="grey-text text-lighten-3" href="/membership">Membership</a></li>
            <li><a class="grey-text text-lighten-3" href="/#therope">The Rope</a></li>
          </ul>
        </div>
      </div>

    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2016 Screenshot Productions
      <a class="grey-text text-lighten-4 right" href="mailto:members@screenshot.productions">Contact Us</a>
      </div>
    </div>

  </footer>



 </body> 