---
title: Screenshot Productions | Immersive Art
---

<body>

  <header>

    <ul id="dropdown-about" class="dropdown-content">
      <li><a href="#!">Screenshot Productions</a></li>
      <li><a href="#!">Artists</a></li>
    </ul>

    <ul id="dropdown-work" class="dropdown-content">
      <p>Current</p>
      <li><a href="#!">Shoshin</a></li>
      <li><a href="#!">The Trial</a></li>
      <li class="divider"></li>
      <p>Past Work</p>
      <li><a href="#!">Parturition</a></li>
      <li><a href="#!">Fear Is What We Learned Here</a></li>
    </ul>

    <nav>

      <div class="container-wide">

      <div class="row">
        
        <div class="col s12 m3"><a href="#" class="logo"><img class="responsive-img" src="images/screenshot-logo.png"></a>

        </div>

        <div class="col s12 m9">

          <div class="right">

            <ul>
              <li><a class="dropdown-button" href="#" data-activates="dropdown-about">About<i class="material-icons right">arrow_drop_down</i></a></li>  
              <li><a class="dropdown-button" href="#" data-activates="dropdown-work">Work<i class="material-icons right">arrow_drop_down</i></a></li>
              <li><a href="">Membership</a></li>
            </ul>

          </div>

        </div>

      </div>

      </div>

    </nav>

  </header>

<!-- Hero -->
  <div class="hero parallax-container">

    <div class="hero-content row container">

    </div>

    <div class="parallax"><img src="images/background5.jpg"></div>

  </div>

<!-- Membership -->
  <div class="membership section">

    <div class="membership-content row container">

    </div>

  </div>

<!-- Shoshin -->
  <div class="art parallax-container">

    <div class="art-content row container">

    </div>

    <div class="parallax"><img src="images/background15.jpg"></div>

  </div>

<!-- About -->
  <div class="about section">

    <div class="about-content row container">

    </div>

  </div>

<!-- Parturition -->
  <div class="art parallax-container">

    <div class="art-content row container">

    </div>

    <div class="parallax"><img src="images/background16.jpg"></div>

  </div>

<!-- Artists -->
  <div class="artists section">

    <div class="artists-content row container">

    </div>

  </div> 

  
<!-- Footer -->
  <footer class="page-footer">
    
    <div class="container">

      <div class="row">

        <div class="col l4 s12"></div>
        <div class="col l4 s12"></div>
        <div class="col l4 s12"></div>
        
      </div>

    </div>

    <div class="footer-copyright">

      <div class="container">

      © 2016 Screenshot Productions, All rights reserved.

      </div>

    </div>

  </footer>

 </body> 