---
title: Screenshot Productions | Immersive Art | Membership
---

<body>

  <header>

    <ul id="dropdown-about" class="dropdown-content">
      <li><a href="#!">Screenshot Productions</a></li>
      <li><a href="#!">Artists</a></li>
    </ul>

    <ul id="dropdown-work" class="dropdown-content">
      <p>Current</p>
      <li><a href="#!">Shoshin</a></li>
      <li><a href="#!">The Trial</a></li>
      <li class="divider"></li>
      <p>Past Work</p>
      <li><a href="#!">Parturition</a></li>
      <li><a href="#!">Fear Is What We Learned Here</a></li>
    </ul>

    <nav>

      <div class="row">     

        <div class="col s10">

          <div class="left">

            <ul>
              <li class="nav-link"><a class="dropdown-button" href="#" data-activates="dropdown-about">About<i class="material-icons right">arrow_drop_down</i></a></li>  
              <li class="nav-link"><a class="dropdown-button" href="#" data-activates="dropdown-work">Work<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>

          </div>

        </div>

        <div class="col s2">

          <div class="right">

            <ul>
            <li class="nav-link nav-button"><a href="">Membership</a></li>
            </ul>

          </div>

        </div>    

      </div>

    </nav>

  </header>

<div class="membership parallax-container">

    <div class="membership-content row container">

      <div class="card col s12 m6">

        <h2>Membership</h2>

        <p>A Screenshot Productions membership is a transformative portal to another world. A world that will both reflect and transcend the human experience…A world that will awaken your curiosity and intellect…A world that will provoke change and growth within you.</p>

     </div>

    </div>

    <div class="parallax"><img src="images/background10.jpg"></div>

</div>     


<div class="membership section">

    <div class="membership-content row container">

      <h2>Membership</h2>

        <p>A Screenshot Productions membership is a transformative portal to another world. A world that will both reflect and transcend the human experience…A world that will awaken your curiosity and intellect…A world that will provoke change and growth within you.</p>

        <p>Not only will you have priority access to all standalone productions throughout the year, you will also have exclusive access to ‘The Trial’, an ongoing life experience utilizing several unprecedented methods of immersion. In addition, you will have custom shows built exclusively for you alone and a look at some of our productions from the other side of the curtain.</p>

        <p>We look forward to welcoming you to our inner circle and growing together with you for years to come.</p>

        <button data-target="modal1" class="button icon modal-trigger">Purchase<span class="emphasis"> a </span>Membership</button>

        <!-- Membership Modal -->
        <div id="modal1" class="modal">
          <div class="modal-content col s12">
            <h4>Screenshot Membership</h4>
            <p>A quarterly membership to all Screenshot productions, exclusive access to all chapters of the ongoing immersive experience The Trial and a seperate, fully-produced individual show created specifically for you only.</p>
          </div>
          <div class="col s12">
            <script type="text/javascript" id='pw_5702aa79c25ef' src="https://app.paywhirl.com/pw.js"></script>
            <script>paywhirl('widget',{domain:'screenshot-productions' ,uuid:'f20612de-edce-4179-85da-a70132860d42'},'pw_5702aa79c25ef'); </script>
          </div>
          <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close">Close</a>
          </div>
        </div>

        <h3>Membership Benefits</h3>

        <h4>Screenshot Productions membership includes the following:</h4>
            <ul>
                <li>Exclusive access to all chapters of the ongoing, immersive life experience mentioned in your email.</li>
                <li>Admission to every Screenshot production throughout the year (at least 1 production per quarter)</li>
                <li>First choice of timeslot for all productions.</li>
                <li>After-hours “lights-on” tour of each production (excluding the chapters)</li>
                <li>Separate, fully-produced show created specifically for you only (1 per year).</li>
            </ul>

        <h4>Other Notes:</h4>
            <ul>
                <li>The membership is billed on a quarterly cycle, meaning each membership is active for 3 months from the date of purchase.</li>
                <li>The membership activates from the purchase date. You do not have to wait until the 1st of the month (or any specific date) to begin.</li>
                <li>You may cancel the subscription at any time, however, once a cycle has been purchased, there are no refunds or cancellations.</li>
                <li>If you wish to suspend your membership and come back after any period of time, the chapter-based experience will simply resume where you left off. (you will not miss any of the experience if you cannot continue your membership in consecutive quarters).</li>

                <li>We will contact you regarding the personal show after a full year of membership (again, does not need to be consecutive).</li> 
                <li>This is a truly on-going experience, meaning that if you had someone else in mind that would like to sign-up for a membership, chapter 1 would begin at the time of their sign-up regardless of when they enroll.</li>
            </ul>    

        If you have any other questions about the membership, please <a href="mailto:members@whatwelearnedhere.com">contact us.</a>

  </div>

</div>

</body>


