---
title: Screenshot Productions | Immersive Art | Membership
---

<body class="membership">

  <header>

    <!--<ul id="dropdown-about" class="dropdown-content">
      <li><a href="#!">Screenshot Productions</a></li>
      <li><a href="#!">Artists</a></li>
    </ul>-->

    <ul id="dropdown-work" class="dropdown-content">
      <p>Current</p>
      <li><a href="index.html#shoshin">Shoshin</a></li>
      <li><a href="index.html#dasgericht">Das Gericht</a></li>
      <!--<li class="divider"></li>
      <p>Past Work</p>
      <li><a href="#!">Parturition</a></li>
      <li><a href="#!">Fear Is What We Learned Here</a></li>-->
    </ul>

    <nav>

      <div class="row">     

        <div class="col s10">

          <div class="left">

            <ul>
              <li class="nav-link"><a href="index.html">Home</a></li>
              <li class="nav-link"><a href="index.html#about">About</a></li>  
              <li class="nav-link"><a class="dropdown-button" href="#" data-activates="dropdown-work">Work<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>

          </div>

        </div>

        <div class="col s2">

          <div class="right">

            <ul>
            <li class="nav-link nav-button"><a href="">Membership</a></li>
            </ul>

          </div>

        </div>    

      </div>

    </nav>

  </header>

<div class="membership parallax-container">

    <div class="membership-content row container">

    <div class="center col s12 animated fadeIn"><img class="responsive-img logo-img" src="images/logo01.svg"><h1 class="logo">Screenshot</h1>
         <h1 class="logo"><span class="emphasis">Productions</span></h1>

        </div>
    </div>

    <div class="parallax"><img src="images/background10.jpg"></div>

</div>     


<div class="membership">

  <div class="row container">

    <div class="title card col s12 m8 left">

       <h2>ScreenShot Membership</h2>
       <h3 class="quote">A Screenshot Productions membership is a transformative portal to another world. A world that will both reflect and transcend the human experience…A world that will awaken your curiosity and intellect…A world that will provoke change and growth within you.</h3>
    </div>   

    <div class="col s12">
       <p>Not only will you have priority access to all standalone productions throughout the year, you will also have exclusive access to ‘The Trial’, an ongoing life experience utilizing several unprecedented methods of immersion. In addition, you will have custom shows built exclusively for you alone and a look at some of our productions from the other side of the curtain.</p>

        <p>We look forward to welcoming you to our inner circle and growing together with you for years to come.</p>

        <h4>Screenshot Productions membership includes the following:</h4>          
            <ul class="list">
                <li>Exclusive access to all chapters of the ongoing, immersive life experience mentioned in your email.</li>
                <li>Admission to every Screenshot production throughout the year (at least 1 production per quarter)</li>
                <li>First choice of timeslot for all productions.</li>
                <li>After-hours “lights-on” tour of each production (excluding the chapters)</li>
                <li>Separate, fully-produced show created specifically for you only (1 per year).</li>
            </ul>       

        <h4>Other Notes:</h4>
            <ul class="list">
                <li>The membership is billed on a quarterly cycle, meaning each membership is active for 3 months from the date of purchase.</li>
                <li>The membership activates from the purchase date. You do not have to wait until the 1st of the month (or any specific date) to begin.</li>
                <li>You may cancel the subscription at any time, however, once a cycle has been purchased, there are no refunds or cancellations.</li>
                <li>If you wish to suspend your membership and come back after any period of time, the chapter-based experience will simply resume where you left off. (you will not miss any of the experience if you cannot continue your membership in consecutive quarters).</li>

                <li>We will contact you regarding the personal show after a full year of membership (again, does not need to be consecutive).</li> 
                <li>This is a truly on-going experience, meaning that if you had someone else in mind that would like to sign-up for a membership, chapter 1 would begin at the time of their sign-up regardless of when they enroll.</li>
            </ul>    

        <p>If you have any other questions about the membership, please <a href="mailto:members@whatwelearnedhere.com">contact us.</a></p>

        <div class="col s12">

        <script type="text/javascript" id='pw_5702aa79c25ef' src="https://app.paywhirl.com/pw.js"></script>
          <script>paywhirl('widget',{autoscroll: 0, domain:'screenshot-productions' ,uuid:'f20612de-edce-4179-85da-a70132860d42'},'pw_5702aa79c25ef'); </script>   
        </div>

    </div>    
        
         

    </div>
      </div>    
    </div>
  </div>


<!-- Footer -->
  <footer class="page-footer">
    
    <div class="container">

      <div class="row">

        <div class="col l6 s12">
          <h5 class="white-text">Screenshot Productions</h5>
          <h3 class="grey-text text-lighten-4 quote">To unpathed waters, undreamed shores.</h3>
          <p class="grey-text text-lighten-4">Immersive experiences exploring the spaces between art, technology, innerconnectivity and the self, seeking to create art with a genuine emotional impact.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">About Screenshot</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="index.html#about">Artists</a></li>
            <li><a class="grey-text text-lighten-3" href="/membership">Membership</a></li>
            <li><a class="grey-text text-lighten-3" href="index.html#dasgericht">Das Gericht</a></li>
            <li><a class="grey-text text-lighten-3" href="index.html#shoshin">Shoshin</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2016 Screenshot Productions
      <a class="grey-text text-lighten-4 right" href="mailto:members@whatwelearnedhere.com">Contact Us</a>
      </div>
    </div>

  </footer>

</body>


